<div class="jumbotron">
    <h1 class="display-3">Mishal's Angular Demo</h1>
    <p class="lead">This is a demo app that Mishal has created as part of his angualr learning along with unit/integration testing</p>
    <p><a class="btn btn-lg btn-success" routerLink="/products" href="#" role="button">Browse NFTs</a></p>
    <!-- Button trigger modal -->
        <button routerLink="/library" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Library
        </button>
  </div>